<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<table class="post_index">
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.content %></td>
        <td><%= link_to 'Show', picture %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<button type="button" class="btn btn-secondary btn-lg"><%= link_to 'New Picture', new_picture_path %></button>